:host{
    display: flex;
    flex-direction: column;
    /* justify -->--- Y  align ---> --- X */
    justify-content: space-between;
    min-height: 100vh;
}

.main-section{
    padding-top: 80px;
}