<section *ngIf="step1" class="w-75 mx-auto rounded">
   <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    <h2>please enter your verification code</h2>
   <div>
    <label for="email"></label>
    <input formControlName="email" placeholder="Email" type="email" name="Email" class="form-control p-3 input-field" id="email"/>
   </div>
   <p *ngIf="userMsg" class="text-center alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMsg}} </p>
    <button class="btn mt-2 border-success btn-outline-success">verify</button>
    
   </form>
</section>
<section *ngIf="step2" class="w-75 mx-auto rounded">
 <form [formGroup]="resetCpdeForm" (ngSubmit)="resetCode()">
    <h2>reset your account password</h2>
    <div>
        <label for="resetCode">Reset Code</label>
    <input formControlName="resetCode" placeholder="code" type="text" class="form-control" id="resetCode"/>
    </div>
    <p *ngIf="userMsg" class="text-center alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMsg}} </p>
    <button class="btn mt-2 border-success btn-outline-success">verify</button>

 </form>
</section>
<section *ngIf="step3" class="w-75 mx-auto rounded">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
        <div>
            <label for="resetPassword">Reset Password</label>
        <input formControlName="newPassword" placeholder="new passwrod" type="password" class="form-control" id="resetPassword" />
        </div>
        <p *ngIf="userMsg" class="text-center alert alert-danger w-75 mx-auto p-1 mb-0"> {{userMsg}} </p>
        <button  class="btn mt-2 border-success btn-outline-success">verify</button>

    </form>
</section>