/* .form-floating {
    position: relative;
}

.float {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-align: start;

    transition: top 1s;
}

.float input {
    top: 50px;
} */
/* .input-field {
    padding: 10px;
    border: 1px solid #ccc;
}

.floating-label {
    position: absolute;
    top: 15px;
    left: 10px;
    pointer-events: none;
    color: #999;
    transition: top 0.5s ease;
}

.active  {
    top: -10px;
    color: #333;
} */


