<section class="w-75 bg-main-light mx-auto p-3 rounded-3 my-2" *ngIf="cartDetails; else msg">
    <div class="d-flex justify-content-between align-items-center">
        <h1>My wish List</h1>
        
    </div>

    

    <div class="row border-bottom pb-2 p-5" *ngFor="let item of cartDetails">
        <div class="col-md-2">
            <!-- img -->
            <img [src]="item.imageCover" class="w-100" alt="">
        </div>
        <div class="col-md-10 pt-4">
           <div class="d-flex justify-content-between align-items-center">
             <!-- details -->
             <div>
                <h3 class="h5"> {{item.title | termtext:3}} </h3>
                <p class="text-main m-0"> Price : {{item.price}} </p>
                <button (click)="removeItem(item.id)" class="btn p-0 m-0 text-danger fs-6" > <i class="fa-regular fa-trash-can"></i> Remove</button>
            </div>
            <!-- btns -->
            <div>
                <button class="btn border border-success" (click)="addWishlist(item.id)" >add to Cart</button>
                
            </div>
           </div>
        </div>
    </div>

    
</section>


<ng-template #msg>
    <h1 class="text-center">Your wishList is Empty... </h1>
</ng-template>
